{% extends 'my_web/base/base.html' %}
{% load static %}
{% block customer_details %}


    <div class="row">
        <div class="col-12">
            <div class="card mb-3 btn-reveal-trigger">
                <div class="card-header position-relative min-vh-25 mb-8">
                    <div class="cover-image">
                        <div class="bg-holder rounded-3 rounded-bottom-0"
                             style="background-image:url({% static 'my_web/my_images/welcome.jpg' %});">
                        </div>
                    </div>
                    <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                        {% if customer.image %}
                            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"><img
                                    src="{{ customer.image.url }}" width="200" alt=""
                                    data-dz-thumbnail="data-dz-thumbnail"/>
                            </div>
                        {% else %}
                            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"><img
                                    src="{% static 'my_web/my_images/Circle-icons-profile.svg.png' %}" width="200" alt=""
                                    data-dz-thumbnail="data-dz-thumbnail"/>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h5 class="mb-2">{{ customer.full_name }} (<a
                            href="mailto:tony@gmail.com">{{ customer.email }}</a>)</h5><a
                        class="btn btn-falcon-default btn-sm" href="#!"><span
                        class="fas fa-plus fs--2 me-1"></span>Add note</a>
                    <button class="btn btn-falcon-default btn-sm dropdown-toggle ms-2 dropdown-caret-none"
                            type="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fas fa-ellipsis-h"></span></button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="{% url 'edit_customer' customer.slug %}">Edit</a><a
                            class="dropdown-item" href="#">Report</a><a
                            class="dropdown-item"
                            href="#">Archive</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{% url 'delete_customer' customer.slug %}">Delete
                            user</a>
                    </div>
                </div>
                <div class="col-auto d-none d-sm-block">

                    <h6 class="text-uppercase text-600">Customer<span class="fas fa-user ms-2"></span></h6>
                </div>
            </div>
        </div>
        <div class="card-body border-top">
            <div class="d-flex"><span class="fas fa-user text-success me-2"
                                      data-fa-transform="down-5"></span>
                <div class="flex-1">
                    <p class="mb-0">Customer was created</p>
                    <p class="fs--1 mb-0 text-600">{{ customer.created_at }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h5 class="mb-0">Details</h5>
                </div>
                <div class="col-auto"><a class="btn btn-falcon-default btn-sm"
                                         href="{% url 'edit_customer' customer.slug %}"><span
                        class="fas fa-pencil-alt fs--2 me-1"></span>Update details</a></div>
            </div>
        </div>
        <div class="card-body bg-light border-top">
            <div class="row">
                <div class="col-lg col-xxl-5">
                    <h6 class="fw-semi-bold ls mb-3 text-uppercase">Account Information</h6>
                    <div class="row">
                        <div class="col-5 col-sm-4">
                            <p class="fw-semi-bold mb-1">ID</p>
                        </div>
                        <div class="col">{{ customer.id }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5 col-sm-4">
                            <p class="fw-semi-bold mb-1">Created</p>
                        </div>
                        <div class="col">{{ customer.created_at }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5 col-sm-4">
                            <p class="fw-semi-bold mb-1">Email</p>
                        </div>
                        <div class="col"><a href="mailto:tony@gmail.com">{{ customer.email }}</a></div>
                    </div>
                </div>
                <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
                    <h6 class="fw-semi-bold ls mb-3 text-uppercase">Billing Information</h6>
                    <div class="row">
                        <div class="col-5 col-sm-4">
                            <p class="fw-semi-bold mb-1">Send email to</p>
                        </div>
                        <div class="col"><a href="#">{{ customer.email }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-5 col-sm-4">
                            <p class="fw-semi-bold mb-1">Address</p>
                        </div>
                        <div class="col">
                            <p class="mb-1">{{ customer.address }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 col-sm-4">
                            <p class="fw-semi-bold mb-1">Phone number</p>
                        </div>
                        <div class="col"><a href="tel:+12025550110">{{ customer.phone }}</a></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer border-top text-end"><a class="btn btn-falcon-default btn-sm"
                                                        href="#!"><span
                class="fas fa-dollar-sign fs--2 me-1"></span>Refund</a><a
                class="btn btn-falcon-default btn-sm ms-2" href="#!"><span
                class="fas fa-check fs--2 me-1"></span>Save changes</a></div>
    </div>


{% endblock %}